In [49]:
import pandas as pd
import numpy as np
gurl = "https://docs.google.com/spreadsheets/d/1QyRJTNd1eIOxjQXzOkhHnAfEvmZGTIix45fF24ylfck/gviz/tq?tqx=out:csv&sheet=confession"
data = pd.read_csv(gurl)
data["year"].fillna("Graduated", inplace = True)
data['dept'] = data['dept'].replace(['FALSE'],'Not want to mention')

In [50]:
data.tai()

,Name,dept,year,confession
7,Rutvik Parmar,Others,2,Bhai harroz akele akele cricket khelate ho kab...
8,naam nahi batana,Not want to mention,Graduated,I love you pagalüòòüòò‚ù§Ô∏è‚ù§Ô∏è but as a Friendüòòüòòüòò
9,all the 2015-2019 batch,Not want to mention,Graduated,I miss all the great time \r\nI miss PUSHPAM T...
10,Don't want to reveal,Not want to mention,1,You used me to the fullest didn't expect that ...
11,Hello,Civil,2,VVvgvgvgv

In [51]:
data.columns.tolist()

['Name', 'dept', 'year', 'confession']

In [62]:
personNum = 10
namec = data["Name"][personNum]
deptc = data["dept"][personNum]
yearc = data["year"][personNum]
confessionc = data["confession"][personNum]

In [63]:
namec

"Don't want to reveal"

In [64]:
int(yearc)

1

In [65]:
deptc

'Not want to mention'

In [66]:
str = """        
<div class=\"row\">

    <div class=\"col s12 m6 l6\">

        <div class=\"card blue\">

            <div class=\"card-content white-text\">

                <span class=\"card-title\">To: {} </span>
                    <span>Department: {}</span><br>
                        <span>Year: {}</span>
                            <p>Confession:{}</p>
            </div>
        </div>
    </div>

""";

In [67]:
str = str.format(namec,deptc,yearc,confessionc)

In [68]:
str

'        \n<div class="row">\n\n    <div class="col s12 m6 l6">\n\n        <div class="card blue">\n\n            <div class="card-content white-text">\n\n                <span class="card-title">To: Don\'t want to reveal </span>\n                    <span>Department: Not want to mention</span><br>\n                        <span>Year: 1.0</span>\n                            <p>Confession:You used me to the fullest didn\'t expect that from you now you are using that techie let\'s see how far your love goes </p>\n            </div>\n        </div>\n    </div>\n\n'

In [69]:
f = open("view.html", mode="r", encoding="utf-8")
contents = f.readlines()
f.close()

contents.insert(65, str)

f = open("view.html", mode="w", encoding="utf-8")
contents = "".join(contents)
f.write(contents)
f.close()