In [1]:
import pandas as pd
gurl = "https://docs.google.com/spreadsheets/d/1QyRJTNd1eIOxjQXzOkhHnAfEvmZGTIix45fF24ylfck/gviz/tq?tqx=out:csv&sheet=confession"
data = pd.read_csv(gurl)

In [2]:
data.tail()

,Name,dept,year,confession
3,All,Others,0,Corona ma Social destansin nu palan karo m*m
4,ALL,FALSE,0,"अगर दिल न मिले तो प्यार अधूरा होता है,\r\nचाँद..."
5,Shivani,FALSE,0,"I am really shy to say you directly, but I LOV..."
6,To:- Rutvik Parmar,Pharm.D,2,Bhai kab tak akele akele cricket khelegaa hume...
7,Rutvik Parmar,Others,2,Bhai harroz akele akele cricket khelate ho kab...

In [3]:
data.columns.tolist()

['Name', 'dept', 'year', 'confession']

In [12]:
personNum = 5
namec = data["Name"][personNum]
deptc = data["dept"][personNum]
yearc = int(data["year"][personNum])
confessionc = data["confession"][personNum]

In [13]:
namec

'Shivani'

In [14]:
deptc

'FALSE'

In [15]:
str = """        
<div class=\"row\">

    <div class=\"col s12 m6 l6\">

        <div class=\"card blue\">

            <div class=\"card-content white-text\">

                <span class=\"card-title\">To: {} </span>
                    <span>Department: {}</span><br>
                        <span>Year: {}</span>
                            <p>Confession:{}</p>
            </div>
        </div>
    </div>

""";

In [16]:
str = str.format(namec,deptc,yearc,confessionc)

In [17]:
str

'        \n<div class="row">\n\n    <div class="col s12 m6 l6">\n\n        <div class="card blue">\n\n            <div class="card-content white-text">\n\n                <span class="card-title">To: Shivani </span>\n                    <span>Department: FALSE</span><br>\n                        <span>Year: 0</span>\n                            <p>Confession:I am really shy to say you directly, but I LOVE YOU Shivani..</p>\n            </div>\n        </div>\n    </div>\n\n'

In [9]:
f = open("view.html", mode="r", encoding="utf-8")
contents = f.readlines()
f.close()

contents.insert(65, str)

f = open("view.html", mode="w", encoding="utf-8")
contents = "".join(contents)
f.write(contents)
f.close()