In [112]:
import pandas as pd
gurl = "https://docs.google.com/spreadsheets/d/1QyRJTNd1eIOxjQXzOkhHnAfEvmZGTIix45fF24ylfck/gviz/tq?tqx=out:csv&sheet=confession"
data = pd.read_csv(gurl)

In [113]:
data.tail()

,Name,dept,year,confession
15,admin,AI&DC,1.0,its not ai&dc its ai&ds
16,admin,AI&DC,1.0,its not ai&dc its ai&ds
17,Kavita,AI&DC,1.0,I think vivek patel likes you
18,vivek,AI&DC,1.0,I think kavita patel likes you
19,Anyone who creates this situation,Not want to mention,0.0,"Whoever reads this, first of all have a good d..."

In [114]:
data["year"].fillna("9", inplace = True)
data['year'] = data['year'].astype(int)

In [115]:
data

,Name,dept,year,confession
0,Parth Desai,Other,1,Parth tera name mene DesiParth rakha he Desai ...
1,Hai,Computer,2,Jjdj
2,Jignesh,Others,1,"Bhai jignesh, mere 750 rps wapis de de, kb tk ..."
3,All,Others,0,Corona ma Social destansin nu palan karo m*m
4,ALL,FALSE,0,"‡§Ö‡§ó‡§∞ ‡§¶‡§ø‡§≤ ‡§® ‡§Æ‡§ø‡§≤‡•á ‡§§‡•ã ‡§™‡•ç‡§Ø‡§æ‡§∞ ‡§Ö‡§ß‡•Ç‡§∞‡§æ ‡§π‡•ã‡§§‡§æ ‡§π‡•à,\r\n‡§ö‡§æ‡§Å‡§¶..."
5,Shivani,FALSE,0,"I am really shy to say you directly, but I LOV..."
6,To:- Rutvik Parmar,Pharm.D,2,Bhai kab tak akele akele cricket khelegaa hume...
7,Rutvik Parmar,Others,2,Bhai harroz akele akele cricket khelate ho kab...
8,naam nahi batana,FALSE,9,I love you pagalüòòüòò‚ù§Ô∏è‚ù§Ô∏è but as a Friendüòòüòòüòò
9,all the 2015-2019 batch,FALSE,9,I miss all the great time \r\nI miss PUSHPAM T...
10,Don't want to reveal,FALSE,1,You used me to the fullest didn't expect that ...
11,Hello,Civil,2,VVvgvgvgv
12,CE and IT,Others,1,Ye First year CE and IT wale kitne Chalu hain ...
13,Kate Marsh,Computer,9,"I really Like Like Your Personality, Let's mee..."
14,Vivek,MCA,1,Fuck you
15,admin,AI&DC,1,its not ai&dc its ai&ds
16,admin,AI&DC,1,its not ai&dc its ai&ds
17,Kavita,AI&DC,1,I think vivek patel likes you
18,vivek,AI&DC,1,I think kavita patel likes you
19,Anyone who creates this situation,Not want to mention,0,"Whoever reads this, first of all have a good d..."

In [116]:
data.columns.tolist()

['Name', 'dept', 'year', 'confession']

In [117]:
personNum = 19
namec = data["Name"][personNum]
deptc = data["dept"][personNum]
yearc = data["year"][personNum]
if(data["year"][personNum]==9):
    yearc = "Not want to mention"
confessionc = data["confession"][personNum]

In [118]:
namec

'Anyone who creates this situation '

In [119]:
deptc = "Not want to mention"

In [120]:
yearc

0

In [121]:
str = """        
<div class=\"row\">

    <div class=\"col s12 m6 l6\">

        <div class=\"card blue\">

            <div class=\"card-content white-text\">

                <span class=\"card-title\">To: {} </span>
                    <span>Department: {}</span><br>
                        <span>Year: {}</span>
                            <p>Confession:{}</p>
            </div>
        </div>
    </div>

""";

In [122]:
str = str.format(namec,deptc,yearc,confessionc)

In [123]:
str

'        \n<div class="row">\n\n    <div class="col s12 m6 l6">\n\n        <div class="card blue">\n\n            <div class="card-content white-text">\n\n                <span class="card-title">To: Anyone who creates this situation  </span>\n                    <span>Department: Not want to mention</span><br>\n                        <span>Year: 0</span>\n                            <p>Confession:Whoever reads this, first of all have a good day and stay motivated.\r\nSecondly whoever you text a dm or a message make it real don\'t talk to someone for few days and leave like you never talked, it hurts, trust me it surely does, sounds more like a philosophy, but it\'s true.</p>\n            </div>\n        </div>\n    </div>\n\n'

In [124]:
f = open("view.html", mode="r", encoding="utf-8")
contents = f.readlines()
f.close()

contents.insert(65, str)

f = open("view.html", mode="w", encoding="utf-8")
contents = "".join(contents)
f.write(contents)
f.close()