# Import Lib and import data

In [1]:
import pandas as pd
gurl = "https://docs.google.com/spreadsheets/d/1QyRJTNd1eIOxjQXzOkhHnAfEvmZGTIix45fF24ylfck/gviz/tq?tqx=out:csv&sheet=confession"
data = pd.read_csv(gurl)

In [2]:
data

,Name,dept,year,confession
0,Parth Desai,Other,1.0,Parth tera name mene DesiParth rakha he Desai ...
1,Hai,Computer,2.0,Jjdj
2,Jignesh,Others,1.0,"Bhai jignesh, mere 750 rps wapis de de, kb tk ..."
3,All,Others,0.0,Corona ma Social destansin nu palan karo m*m
4,ALL,FALSE,0.0,"‡§Ö‡§ó‡§∞ ‡§¶‡§ø‡§≤ ‡§® ‡§Æ‡§ø‡§≤‡•á ‡§§‡•ã ‡§™‡•ç‡§Ø‡§æ‡§∞ ‡§Ö‡§ß‡•Ç‡§∞‡§æ ‡§π‡•ã‡§§‡§æ ‡§π‡•à,\r\n‡§ö‡§æ‡§Å‡§¶..."
...,...,...,...,...
97,Kristal navadia,Computer,1.0,I love you darling ‚ô•Ô∏è‚ô•Ô∏è‚ô•Ô∏è
98,Kristal navadia,Computer,1.0,I love you darling ‚ô•Ô∏è‚ô•Ô∏è‚ô•Ô∏è
99,Kristal navadia,Computer,1.0,I love you darling ‚ô•Ô∏è‚ô•Ô∏è‚ô•Ô∏è
100,Kristal navadia,Computer,1.0,I love you darling ‚ô•Ô∏è‚ô•Ô∏è‚ô•Ô∏è
101,Kristal navadia,Computer,1.0,I love you darling ‚ô•Ô∏è‚ô•Ô∏è‚ô•Ô∏è

# Let's remove duplicate value

In [3]:
data.drop_duplicates(subset ="confession",
                     keep = "last", inplace = True)

# Data Wranglling

In [4]:
data["year"].fillna("9", inplace = True)
data['year'] = data['year'].astype(int)
data['dept'] = data['dept'].replace(['FALSE'],['Not want to mention'])

In [5]:
data.tail()

,Name,dept,year,confession
86,zxc,Pharm.D,3,sadasaf
90,Saumydeep Bhosh,IT,2,Firstly stop thinking yourself a influencer!! ...
93,One Feku,IT,1,"üöôüèçÔ∏èüöócar,bullet,ghar badhu bija nu j che pan ba..."
96,Batki,IT,1,ONLINE EXAM MA PURA MARKS AAVE TOY PAN CGPA 7 ...
101,Kristal navadia,Computer,1,I love you darling ‚ô•Ô∏è‚ô•Ô∏è‚ô•Ô∏è

In [6]:
data

,Name,dept,year,confession
0,Parth Desai,Other,1,Parth tera name mene DesiParth rakha he Desai ...
1,Hai,Computer,2,Jjdj
2,Jignesh,Others,1,"Bhai jignesh, mere 750 rps wapis de de, kb tk ..."
3,All,Others,0,Corona ma Social destansin nu palan karo m*m
4,ALL,Not want to mention,0,"‡§Ö‡§ó‡§∞ ‡§¶‡§ø‡§≤ ‡§® ‡§Æ‡§ø‡§≤‡•á ‡§§‡•ã ‡§™‡•ç‡§Ø‡§æ‡§∞ ‡§Ö‡§ß‡•Ç‡§∞‡§æ ‡§π‡•ã‡§§‡§æ ‡§π‡•à,\r\n‡§ö‡§æ‡§Å‡§¶..."
...,...,...,...,...
86,zxc,Pharm.D,3,sadasaf
90,Saumydeep Bhosh,IT,2,Firstly stop thinking yourself a influencer!! ...
93,One Feku,IT,1,"üöôüèçÔ∏èüöócar,bullet,ghar badhu bija nu j che pan ba..."
96,Batki,IT,1,ONLINE EXAM MA PURA MARKS AAVE TOY PAN CGPA 7 ...
101,Kristal navadia,Computer,1,I love you darling ‚ô•Ô∏è‚ô•Ô∏è‚ô•Ô∏è

In [25]:
data.tail(10)

,Name,dept,year,confession
79,Ayush parmar,IT,1,karta sabkuchh he par dikha ta kuchh nahi üòí(ba...
80,Whole IT classüòòüòòüòòüòò,IT,2,Miss You all.......MC BC KBC Koi var to call k...
81,Mihir borad,IT,1,Mane mari post delete karvano bov shokh che üò≥üò≥...
82,All story worriers,IT,1,It's story war. If anyone is men like original...
84,My fire Brigade,Others,1,Aaj Exam Khatam Hua.... Thanks Bhai ham jeso k...
86,zxc,Pharm.D,3,sadasaf
90,Saumydeep Bhosh,IT,2,Firstly stop thinking yourself a influencer!! ...
93,One Feku,IT,1,"üöôüèçÔ∏èüöócar,bullet,ghar badhu bija nu j che pan ba..."
96,Batki,IT,1,ONLINE EXAM MA PURA MARKS AAVE TOY PAN CGPA 7 ...
101,Kristal navadia,Computer,1,I love you darling ‚ô•Ô∏è‚ô•Ô∏è‚ô•Ô∏è

In [24]:
data.loc[[90]]

,Name,dept,year,confession
90,Saumydeep Bhosh,IT,2,Firstly stop thinking yourself a influencer!! ...

In [35]:
data

,Name,dept,year,confession
0,Parth Desai,Other,1,Parth tera name mene DesiParth rakha he Desai ...
1,Hai,Computer,2,Jjdj
2,Jignesh,Others,1,"Bhai jignesh, mere 750 rps wapis de de, kb tk ..."
3,All,Others,0,Corona ma Social destansin nu palan karo m*m
4,ALL,Not want to mention,0,"‡§Ö‡§ó‡§∞ ‡§¶‡§ø‡§≤ ‡§® ‡§Æ‡§ø‡§≤‡•á ‡§§‡•ã ‡§™‡•ç‡§Ø‡§æ‡§∞ ‡§Ö‡§ß‡•Ç‡§∞‡§æ ‡§π‡•ã‡§§‡§æ ‡§π‡•à,\r\n‡§ö‡§æ‡§Å‡§¶..."
...,...,...,...,...
86,zxc,Pharm.D,3,sadasaf
90,Saumydeep Bhosh,IT,2,Firstly stop thinking yourself a influencer!! ...
93,One Feku,IT,1,"üöôüèçÔ∏èüöócar,bullet,ghar badhu bija nu j che pan ba..."
96,Batki,IT,1,ONLINE EXAM MA PURA MARKS AAVE TOY PAN CGPA 7 ...
101,Kristal navadia,Computer,1,I love you darling ‚ô•Ô∏è‚ô•Ô∏è‚ô•Ô∏è

In [36]:
personNum = int(input("Enter a number"))
namec = data["Name"][personNum]
deptc = data["dept"][personNum]
yearc = data["year"][personNum]
if(data["year"][personNum]==9):
    yearc = "Not want to mention"
confessionc = data["confession"][personNum]

Enter a number96

In [37]:
namec

'Batki'

In [38]:
deptc

'IT'

In [39]:
yearc

1

In [40]:
confessionc

'ONLINE EXAM MA PURA MARKS AAVE TOY PAN CGPA 7 AAVE HOWüò±üò±üò±?\r\nKYA HE ES LADKI KA CHAKKAR?\r\nü§îüßê\r\n'

In [41]:
str = """        
<div class=\"row\">

    <div class=\"col s12 m6 l6\">

        <div class=\"card blue\">

            <div class=\"card-content white-text\">

                <span class=\"card-title\">To: {} </span>
                    <span>Department: {}</span><br>
                        <span>Year: {}</span>
                            <p>Confession:{}</p>
            </div>
        </div>
    </div>

""";

In [42]:
str = str.format(namec,deptc,yearc,confessionc)

In [43]:
str

'        \n<div class="row">\n\n    <div class="col s12 m6 l6">\n\n        <div class="card blue">\n\n            <div class="card-content white-text">\n\n                <span class="card-title">To: Batki </span>\n                    <span>Department: IT</span><br>\n                        <span>Year: 1</span>\n                            <p>Confession:ONLINE EXAM MA PURA MARKS AAVE TOY PAN CGPA 7 AAVE HOWüò±üò±üò±?\r\nKYA HE ES LADKI KA CHAKKAR?\r\nü§îüßê\r\n</p>\n            </div>\n        </div>\n    </div>\n\n'

<h1>Don't run below cells blindly </h1>
    <h2>Please <a href="view.html">Click Here</a></h2>
    <p>Notice here! CSS WIll Not work on local host</p>

In [44]:
f = open("view.html", mode="r", encoding="utf-8")
contents = f.readlines()
f.close()
#this code will append html code on line no 65
contents.insert(65, str)

f = open("view.html", mode="w", encoding="utf-8")
contents = "".join(contents)
f.write(contents)
f.close()