In [1]:
import pandas as pd
gurl = "https://docs.google.com/spreadsheets/d/1QyRJTNd1eIOxjQXzOkhHnAfEvmZGTIix45fF24ylfck/gviz/tq?tqx=out:csv&sheet=confession"
data = pd.read_csv(gurl)

In [2]:
data.tail()

,Name,dept,year,confession
0,Parth Desai,Other,1,Parth tera name mene DesiParth rakha he Desai ...
1,Hai,Computer,2,Jjdj
2,Jignesh,Others,1,"Bhai jignesh, mere 750 rps wapis de de, kb tk ..."
3,All,Others,0,Corona ma Social destansin nu palan karo m*m
4,ALL,FALSE,0,"अगर दिल न मिले तो प्यार अधूरा होता है,\r\nचाँद..."

In [3]:
data.columns.tolist()

['Name', 'dept', 'year', 'confession']

In [5]:
personNum = 4
namec = data["Name"][personNum]
deptc = data["dept"][personNum]
yearc = str(data["year"][personNum])
confessionc = data["confession"][personNum]

In [6]:
namec

'ALL'

In [8]:
deptc

In [9]:
str = """        
<div class=\"row\">

    <div class=\"col s12 m6 l6\">

        <div class=\"card blue\">

            <div class=\"card-content white-text\">

                <span class=\"card-title\">To: {} </span>
                    <span>Department: {}</span><br>
                        <span>Year: {}</span>
                            <p>Confession:{}</p>
            </div>
        </div>
    </div>

""";

In [10]:
str = str.format(namec,deptc,yearc,confessionc)

In [11]:
str

'        \n<div class="row">\n\n    <div class="col s12 m6 l6">\n\n        <div class="card blue">\n\n            <div class="card-content white-text">\n\n                <span class="card-title">To: ALL </span>\n                    <span>Department: Others</span><br>\n                        <span>Year: 0</span>\n                            <p>Confession:अगर दिल न मिले तो प्यार अधूरा होता है,\r\nचाँदनी के बिना चाँद कब पूरा होता है,\r\n\r\nदोस्तों की भूल कर ज़िन्दगी कटती नहीं,\r\nक्यूँकी हर एक फ्रेंड जरूरी होता है।</p>\n            </div>\n        </div>\n    </div>\n\n'

In [12]:
f = open("view.html", mode="r", encoding="utf-8")
contents = f.readlines()
f.close()

contents.insert(65, str)

f = open("view.html", mode="w", encoding="utf-8")
contents = "".join(contents)
f.write(contents)
f.close()