In [38]:
import pandas as pd
gurl = "https://docs.google.com/spreadsheets/d/1QyRJTNd1eIOxjQXzOkhHnAfEvmZGTIix45fF24ylfck/gviz/tq?tqx=out:csv&sheet=confession"
data = pd.read_csv(gurl)

In [39]:
data.tail()

,Name,dept,year,confession
4,ALL,FALSE,0.0,"‡§Ö‡§ó‡§∞ ‡§¶‡§ø‡§≤ ‡§® ‡§Æ‡§ø‡§≤‡•á ‡§§‡•ã ‡§™‡•ç‡§Ø‡§æ‡§∞ ‡§Ö‡§ß‡•Ç‡§∞‡§æ ‡§π‡•ã‡§§‡§æ ‡§π‡•à,\r\n‡§ö‡§æ‡§Å‡§¶..."
5,Shivani,FALSE,0.0,"I am really shy to say you directly, but I LOV..."
6,To:- Rutvik Parmar,Pharm.D,2.0,Bhai kab tak akele akele cricket khelegaa hume...
7,Rutvik Parmar,Others,2.0,Bhai harroz akele akele cricket khelate ho kab...
8,naam nahi batana,FALSE,NaN,I love you pagalüòòüòò‚ù§Ô∏è‚ù§Ô∏è but as a Friendüòòüòòüòò

In [32]:
data.columns.tolist()

['Name', 'dept', 'year', 'confession']

In [40]:
personNum = 8
namec = data["Name"][personNum]
deptc = data["dept"][personNum]
yearc = 
confessionc = data["confession"][personNum]

ValueError: cannot convert float NaN to integer

In [13]:
namec

'Shivani'

In [22]:
deptc = "Not want to mention"

In [23]:
str = """        
<div class=\"row\">

    <div class=\"col s12 m6 l6\">

        <div class=\"card blue\">

            <div class=\"card-content white-text\">

                <span class=\"card-title\">To: {} </span>
                    <span>Department: {}</span><br>
                        <span>Year: {}</span>
                            <p>Confession:{}</p>
            </div>
        </div>
    </div>

""";

In [24]:
str = str.format(namec,deptc,yearc,confessionc)

In [25]:
str

'        \n<div class="row">\n\n    <div class="col s12 m6 l6">\n\n        <div class="card blue">\n\n            <div class="card-content white-text">\n\n                <span class="card-title">To: Shivani </span>\n                    <span>Department: Not want to mention</span><br>\n                        <span>Year: 0</span>\n                            <p>Confession:I am really shy to say you directly, but I LOVE YOU Shivani..</p>\n            </div>\n        </div>\n    </div>\n\n'

In [26]:
f = open("view.html", mode="r", encoding="utf-8")
contents = f.readlines()
f.close()

contents.insert(65, str)

f = open("view.html", mode="w", encoding="utf-8")
contents = "".join(contents)
f.write(contents)
f.close()