In [80]:
import pandas as pd
gurl = "https://docs.google.com/spreadsheets/d/1QyRJTNd1eIOxjQXzOkhHnAfEvmZGTIix45fF24ylfck/gviz/tq?tqx=out:csv&sheet=confession"
data = pd.read_csv(gurl)

In [83]:
data.tail()

,Name,dept,year,confession
16,Huh,Mechanical,NaN,6yyytttt
17,Ststd,IT,3.0,35e6d6d6d6dudu
18,iushdfuiedsh,EC,NaN,kjsdvnjkdsvnv
19,hello,Other,3.0,kjbjbkbjjh jbk
20,Parth Desai,Other,1.0,Parth tera name mene DesiParth rakha he Desai ...

In [84]:
data.columns.tolist()

['Name', 'dept', 'year', 'confession']

In [85]:
personNum = 20
namec = data["Name"][personNum]
deptc = data["dept"][personNum]
yearc = str(data["year"][personNum])
confessionc = data["confession"][personNum]

In [86]:
namec

'Parth Desai'

In [87]:
deptc

'Other'

In [88]:
str = """        
<div class=\"row\">

    <div class=\"col s12 m6 l6\">

        <div class=\"card blue\">

            <div class=\"card-content white-text\">

                <span class=\"card-title\">To: {} </span>
                    <span>Department: {}</span><br>
                        <span>Year: {}</span>
                            <p>Confession:{}</p>
            </div>
        </div>
    </div>

""";

In [89]:
str = str.format(namec,deptc,yearc,confessionc)

In [90]:
str

'        \n<div class="row">\n\n    <div class="col s12 m6 l6">\n\n        <div class="card blue">\n\n            <div class="card-content white-text">\n\n                <span class="card-title">To: Parth Desai </span>\n                    <span>Department: Other</span><br>\n                        <span>Year: 1.0</span>\n                            <p>Confession:Parth tera name mene DesiParth rakha he Desai se achha desi he </p>\n            </div>\n        </div>\n    </div>\n\n'

In [91]:
f = open("view.html", mode="r", encoding="utf-8")
contents = f.readlines()
f.close()

contents.insert(55, str)

f = open("view.html", mode="w", encoding="utf-8")
contents = "".join(contents)
f.write(contents)
f.close()